@font-face {
    font-family: roboto;
    src: url(./Assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./Assets/fonts/Roboto-Regular.ttf);
}

:root {
    --red: #FF220C;
    --green: #214e34fd;
    --lightBlue: #cae6e0d8;
    --grey: #7F7979;
    --yellow: #E3B505;
    --darkBlue: #011638;
    --pageBackground: white;
}
.bg-image {
    background-image: url('./Assets/fake-luke.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: roboto;
}

[class ^= "box-"] {
    display: grid;
    place-items: center;
    border: 0px;
}

body {
    background-color: var(--pageBackground);

}

.card card-img-top  {
    box-sizing: border-box !important;
}

.row {
    width: 100%;
}

.sidebar {
    display: none;
}

.box-3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0%;
    object-position: center bottom;
}



/* Navbar displays */
.desktop-banner, .desktop-banner3 {
    display: none;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    
}

.box-1, .navbar {
    background-color: var(--darkBlue) !important;
}

.navbar-brand {
    color: var(--yellow);
}


/* Main Grid Layout */
.grid-container {
    
    width: 100%;
    margin: auto;

    display: grid;
    gap: 20px;

    grid-template-columns: 1fr;
    grid-template-areas: 
    "m"
    "a"
    "b"
    "c"
    "d";
}

.grid-container .box-1 {
    grid-area: n;
    display: none;
}
.grid-container .box-2 {
    grid-area: b;
    display: none;
}

.grid-container .box-3 {
    grid-area: m;
    margin-top: 100px !important;
}

.grid-container .box-4 {
    grid-area: s;
    display: none;
}

.grid-container .box-5 {
    grid-area: f;
}

.grid-container .box-6 {
    grid-area: b;
    border-radius: 50px;
    background-color: rgb(247, 247, 247);
}

.container-2 {
    grid-area: c;
    justify-content: center;
}

.google-map {
    padding-bottom: 20%;
    grid-area: d;
    width: 100%;
}

.google-map iframe {
    height: 100%;
    width: 100%;;
    left: 50;
    right: 50;
    position: relative;

}
/* Main content Cards */
.card-container img {
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border-radius: 0%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 20px 0px;
}

.card-container .card {
    background: var(--lightBlue);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
}

.card-info h2 {
    color: var(--yellow);
}

.card-info h3 {
    color: white;
}

.card .card-info {
    background: var(--darkBlue);
    width: auto;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    color: rgb(182, 182, 182);
}
/* tablet */
@media (min-width: 768px) {
    .grid-container {
        height: 90vh;
        width: 100%;
        margin: 0px auto;
    
        display: grid;
        gap: 0px;
    
        grid-template-columns: 30% 1fr;
        grid-template-areas: 
        "b b"
        "s m"
        "s m"
        "s a"
        "s c"
        "s d";
    }
    
    .navbar {
        display: none !important;
    }

    .desktop-banner {
        display: none !important;
    }
    
    .desktop-banner3 {
        display: block;
        background: hsla(217, 96%, 11%, 1);
        background: linear-gradient(90deg, hsla(217, 96%, 11%, 1) 35%, hsla(190, 53%, 56%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(217, 96%, 11%, 1) 35%, hsla(190, 53%, 56%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(217, 96%, 11%, 1) 35%, hsla(190, 53%, 56%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#011638", endColorstr="#54B6CA", GradientType=1 );
    }
    .grid-container .box-1 {
        grid-area: n;
        display: none;
    }
    .grid-container .box-2 {
        grid-area: b;
        display: block;
        height: 200px;

        top: 0;
        z-index: 0;
        background: hsla(217, 96%, 11%, 1);
        background: linear-gradient(0deg, hsla(217, 96%, 11%, 1) 35%, hsla(190, 53%, 56%, 1) 100%);
        background: -moz-linear-gradient(0deg, hsla(217, 96%, 11%, 1) 35%, hsla(190, 53%, 56%, 1) 100%);
        background: -webkit-linear-gradient(0deg, hsla(217, 96%, 11%, 1) 35%, hsla(190, 53%, 56%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#011638", endColorstr="#54B6CA", GradientType=1 );
    }
    
    .box-2 img {
        max-height: 200px;
        padding-left: 500px ;
    }
    .grid-container .box-3 {
        grid-area: m;
        padding-top: 20px;
        margin-top: 0px !important;
    }
    
    .grid-container .box-4 {
        grid-area: s;
        display: block;
        position: fixed;
    }
    
    .grid-container .box-5 {
        grid-area: f;
    }

    .grid-container .box-6 {
        grid-area: a;
    }

    .contact1 {
        grid-area: c;

    }
    .card-container img {
        object-fit: contain;
        border-radius: 0%;
    }
    
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
        margin: 20px auto;
    }

    .sidebar {
        grid-area: s;
        display: inline-flex;
        height: 100vh;
        background: var(--darkBlue);
        padding: 30px 0px;
        position: fixed;
        align-items: center;
    }

    .sidebar li, ul, .dropdown-toggle {
        background: var(--darkBlue);
        color: #bdb8d7;
        padding: 15px;
        width: auto;
        border-bottom: 1px solid #bdb8d7;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        border-top: 1px solid rgba(255,255,255,0.05);
    }    
    
    .sidebar img{
        width: 100px;
        height: 100px;
        align-content: center;
        margin-left: 50px;
    }

    .sidebar ul {
        padding: 0 30px;
        min-width: 20vw;
        text-align: end;
        font-size: 20px;
        font-weight: bold;
        
    }
      
    .sidebar ul li{
        padding: 15px;
        border-bottom: 1px solid #bdb8d7;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        border-top: 1px solid rgba(255,255,255,0.05);
    }    

  
      
    .sidebar ul li a{
        color: #bdb8d7;
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        justify-content: center;
    }
      
    .sidebar ul li a .fas{
        width: 25px;
    }
      
    .sidebar ul li:hover{
        background-color: var(--yellow);
    }
          
    .sidebar ul li:hover a{
        color: #fff;
    }
       
    .sidebar .social_media{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
      
    .sidebar .social_media a{
        display: block;
        width: 40px;
        background: #594f8d;
        height: 40px;
        line-height: 45px;
        text-align: center;
        margin: 0 5px;
        color: #bdb8d7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
      
}


/* Desktop */

@media (min-width: 1200px) {

    .grid-container {
        
        width: 100%;
        min-height: fit-content;
        margin: 0px;
    
        display: grid;
        gap: 0px !important;
    
        grid-template-columns: 20% 1fr 20%;
        grid-template-areas: 
        "s b b"
        "s m a"
        "s c c"
        "s d d"
        
    }
    
    

    .grid-container .box-1 {
        grid-area: n;
        display: none;
    }
    .grid-container .box-2 {
        grid-area: b;        
    }
    
    .grid-container .box-3 {
        grid-area: m;
        padding: 0px;
    }
    
    .grid-container .box-4 {
        grid-area: s;
        display: block;
    }
    
    .grid-container .box-5 {
        grid-area: f;
    }

    .grid-container .box-6 {
        grid-area: a;
        border-radius: 20px;
        align-items: start;
        padding-top: 20px;
        margin-top: 0px;
    }
  
    .mobile-banner {
        display: none;
    }

    .desktop-banner {
        display: block;
        
    }
    .google-map {
       
        grid-area: d;
      
        
    }
    
    .google-map iframe {
        padding: 40px;
        height: 500px;
        width: 100%;;
        left: 0;
        right: 0;
        position: relative;
    
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        width: 100%;
        margin:  0px;
        grid-template-areas: 
        "c1 c1"
        "c2 c3";
    }
    
    .card-1 {
        grid-area: c1;
    }

    .card-2 {
        grid-area: c2;
    }

    .card-3 {
        grid-area: c3;
    }
}

