@font-face {
    font-family: roboto;
    src: url(./Assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./Assets/fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    font-family: roboto;
}

[class ^= "box-"] {
    display: gird;
    place-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border: solid 5px orangered;
    color: #fff;
}

body {
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}

.sidebar {
    display: none;
}

.grid-container {
    height: 90vh;
    width: 90%;
    margin: 20px auto;

    display: grid;
    gap: 20px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "n n n n  n n n n  n n n n"
    "b b b b  b b b b  b b b b"
    "m m m m  m m m m  m m m m"
    "a a a a  a a a a  a a a a"
    "f f f f  f f f f  f f f f";
}

.grid-container .box-1 {
    grid-area: n;
}
.grid-container .box-2 {
    grid-area: b;
}

.grid-container .box-3 {
    grid-area: m;
}

.grid-container .box-4 {
    grid-area: s;
    display: none;
}

.grid-container .box-5 {
    grid-area: f;
}

.grid-container .box-6 {
    grid-area: a;
}


/* tablet */
@media (min-width: 768px) {
    .grid-container {
        height: 90vh;
        width: 90%;
        margin: 20px auto;
    
        display: grid;
        gap: 20px;
    
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "s s s s  b b b b  b b b b"
        "s s s s  m m m m  m m m m"
        "s s s s  m m m m  m m m m"
        "s s s s  a a a a  a a a a"
        "s s s s  f f f f  f f f f";
    }
    
    .grid-container .box-1 {
        grid-area: n;
        display: none;
    }
    .grid-container .box-2 {
        grid-area: b;
    }
    
    .grid-container .box-3 {
        grid-area: m;
    }
    
    .grid-container .box-4 {
        grid-area: s;
        display: block;
    }
    
    .grid-container .box-5 {
        grid-area: f;
    }

    .grid-container .box-6 {
        grid-area: a;
    }
    
}


/* Desktop */

@media (min-width: 1080px) {
    .grid-container {
        height: 90vh;
        width: 90%;
        margin: 20px auto;
    
        display: grid;
        gap: 20px;
    
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "s s b b  b b b b  b b b b"
        "s s m m  m m m m  m m a a"
        "s s m m  m m m m  m m a a"
        "s s m m  m m m m  m m a a"
        "f f f f  f f f f  f f f f";
    }
    
    .grid-container .box-1 {
        grid-area: n;
        display: none;
    }
    .grid-container .box-2 {
        grid-area: b;
    }
    
    .grid-container .box-3 {
        grid-area: m;
    }
    
    .grid-container .box-4 {
        grid-area: s;
        display: block;
    }
    
    .grid-container .box-5 {
        grid-area: f;
    }

    .grid-container .box-6 {
        grid-area: a;
    }
}

}